.student-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.exam-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: slategray;
}

.nav-link {
  float: left;
}

.nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: gray;
}

.active {
  background-color: steelblue;
}
