#eForm {
  display: flex;
  width: 100%;
}

#examName {
  padding: 5px;
}

.create-exam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eForm-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border: 2px solid rgba(112, 128, 144, 0.25);
  background-color: rgba(112, 128, 144, 0.1);
}

.eForm-eName {
  margin-top: 10px;
}

.eForm-table {
  width: 100%;
}

.exam-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: slategray;
}

.nav-link {
  float: left;
}

.nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: gray;
}

.active {
  background-color: steelblue;
}

table,
th,
td {
  border-collapse: collapse;
  border-bottom: 1px solid rgba(112, 128, 144, 0.5);
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

table {
  width: 100%;
}

td,
th {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

td {
  border-right: 1px solid rgba(112, 128, 144, 0.25);
}

th {
  background-color: rgba(112, 128, 144, 0.1);
  border-top: 2px solid rgba(112, 128, 144, 0.25);
}

body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.current-exam-list {
  list-style: none;
  counter-reset: exam-counter;
}

.current-exam-list li {
  counter-increment: exam-counter;
}

.current-exam-list li::before {
  content: counter(exam-counter) '. ';
  color: rgba(112, 128, 144, 1);
  font-weight: bold;
}

.answer-input {
  display: block;
  outline: none;
  margin: 25px 0px 25px 0px;
  border: 2px solid rgba(112, 128, 144, 0.5);
  padding: 5px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
  resize: none;
}

/* input[type='submit'] {
  background-color: slategray;
  color: white;
  padding: 12px 25px;
  font-size: inherit;
  font-family: 'Lucida Sans Unicode', sans-serif;
  float: right;
  cursor: pointer;
} */

.exam-list-item {
  background-color: rgba(112, 128, 144, 0.1);
  border: 1px solid rgba(112, 128, 144, 0.25);
  padding: 10px;
  margin: 0 0 25 -40;
}

.question-score-header {
  font-weight: bold;
}

.results-ordered-list {
  width: 100%;
}

.result-list-item {
  margin-bottom: 50px;
}

.result-sub-items {
  margin-left: -20px;
}

.result-header {
  background-color: rgba(112, 128, 144, 0.25);
}
