body
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul
{
  list-style-type: none;
}

li
{
  list-style-type: none;
}

.flex-form
{
  
}

.student-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:url("navbackground.png")
  
}

.nav-link {
  float: left;
}

.nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: gray;
  border-radius: 25px;
  background:black;
  padding: 14px; 

}

.active {
  background-color: steelblue;
}

.exam-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.question-form-container
{
    margin-left: 5%;
}